### This Notebook will help you extract salaries from your dataframe

In [38]:
import numpy as np
import pandas as pd
import re

In [39]:
df = pd.read_csv('df_pymongo.csv')
#on prends seulement les colonnes pertinents
df = df.loc[41:]
#on reset l'index
df = df.reset_index()

In [40]:
#This is my main function that uses the other functions below. 
def add_salaries(df):
    sals = intify_etc(find_salaries(df, 'Title'))
    df['Salary'] = sals
    return df

,index,Company,Date,Details,DetailsLoc,Location,Title,_id,estimated,linked,timestamp,url,Salary
0,41,Ingeniance,il y a 3 jours,Contexte de la mission :\r\nVous assurez la pr...,Contexte de la mission :\r\nVous assurez la pr...,- Boulogne-Billancourt (92),DATA SCIENTIST - F/H\r\nIngeniance18 avis - Bo...,5c85540550a9f21dc0cf25d5,€40%C2%A0000,DATA SCIENTIST - F/H,2019-03-10,https://www.indeed.fr/emplois?q=Data%20%E2%82%...,NaN
1,42,Vekia,il y a 3 jours,Bienvenue chez Vekia !\r\nMerci mais Vekia c’e...,Bienvenue chez Vekia !\r\nMerci mais Vekia c’e...,- Paris 13e (75),Data Scientist\r\nVekia - Paris 13e (75)\r\n40...,5c85574650a9f21dc0cf25d8,€40%C2%A0000,Data Scientist,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,42500.0
2,43,La Banque de France,il y a 3 jours,Présentation de la Direction générale\r\nVous ...,Présentation de la Direction générale\r\nVous ...,- Paris (75),DATA CONCEPTEUR - H/F\r\nLa Banque de France12...,5c85574f50a9f21dc0cf25d9,€40%C2%A0000,DATA CONCEPTEUR - H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
3,44,Cegid,il y a 3 jours,Doté(e) d'au moins 3 ans dans le développement...,Doté(e) d'au moins 3 ans dans le développement...,- Paris (75),Product Data Analyst - BI - H/F\r\nCegid36 avi...,5c85575750a9f21dc0cf25da,€40%C2%A0000,Product Data Analyst - BI - H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
4,45,Alter Solutions,il y a 3 jours,"Poste\r\n\r\nEn tant que Développeur Big Data,...","Poste\r\n\r\nEn tant que Développeur Big Data,...",- Paris (75),Développeur Big Data H/F\r\nAlter Solutions - ...,5c85575e50a9f21dc0cf25db,€40%C2%A0000,Développeur Big Data H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,52500.0
5,46,Sodicam² - Groupe Renault,il y a 3 jours,Missions et responsabilités\r\nRattaché(e) dir...,Missions et responsabilités\r\nRattaché(e) dir...,- Le Plessis-Robinson (92),Data Scientist Manager H/F\r\nSodicam² - Group...,5c85576550a9f21dc0cf25dc,€40%C2%A0000,Data Scientist Manager H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,40500.0
6,47,Total,il y a 3 jours,"Au sein de la Branche Exploration- Production,...","Au sein de la Branche Exploration- Production,...",- Courbevoie (92),"Data Analyst H/F\r\nTotal1,172 avis - Courbevo...",5c85577750a9f21dc0cf25dd,€40%C2%A0000,Data Analyst H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
7,48,SODIAAL INTERNATIONAL,il y a 3 jours,Sodiaal est né du rapprochement de 7 coopérati...,Sodiaal est né du rapprochement de 7 coopérati...,- Paris (75),DATA ANALYST H/F\r\nSODIAAL INTERNATIONAL - Pa...,5c855bd050a9f23628dc2c68,€40%C2%A0000,DATA ANALYST H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
8,49,"Pôle finances, stratégie et participations - F...",il y a 3 jours,I. ENVIRONNEMENT / CONTEXTE\r\nAu sein du dépa...,I. ENVIRONNEMENT / CONTEXTE\r\nAu sein du dépa...,- Paris (75),Modélisateur data scienti H/F\r\nPôle finances...,5c855bd750a9f23628dc2c69,€40%C2%A0000,Modélisateur data scienti H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
9,50,TEEMO,il y a 3 jours,A propos de teemo\r\nteemo est la plateforme D...,A propos de teemo\r\nteemo est la plateforme D...,- Paris 9e (75),Data Analyst (H/F) - CDI\r\nTEEMO - Paris 9e (75),5c855be150a9f23628dc2c6a,€40%C2%A0000,Data Analyst (H/F) - CDI,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
10,51,DATATORII,il y a 3 jours,Missions et responsabilités\r\nVous effectuez ...,Missions et responsabilités\r\nVous effectuez ...,- Paris (75),Data Scientist\r\nDATATORII - Paris (75)\r\n45...,5c855bf250a9f23628dc2c6b,€40%C2%A0000,Data Scientist,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,50000.0
11,52,Groupe CANAL+,il y a 3 jours,Job Description\r\n\r\nIntégré(e) à la Directi...,Job Description\r\n\r\nIntégré(e) à la Directi...,- Issy-les-Moulineaux (92),CDI-Analyste data H/F\r\nGroupe CANAL+4 avis -...,5c855c0a50a9f23628dc2c6c,€40%C2%A0000,CDI-Analyste data H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
12,53,Renault,il y a 3 jours,Votre future équipe\r\n\r\nEn rejoignant l'équ...,Votre future équipe\r\n\r\nEn rejoignant l'équ...,- Boulogne-Billancourt (92),"Data Analyst (H/F)\r\nRenault3,501 avis - Boul...",5c855c1250a9f23628dc2c6d,€40%C2%A0000,Data Analyst (H/F),2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
13,54,CS Communication & Systèmes,il y a 12 jours,DESCRIPTION DE L'OFFRE\r\nPour répondre aux en...,DESCRIPTION DE L'OFFRE\r\nPour répondre aux en...,- Toulouse (31),Consultant Data Gouvernance H/F\r\nCS Communic...,5c855c2250a9f236dc3cdcf1,€40%C2%A0000,Consultant Data Gouvernance H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
14,55,Advise,il y a 3 jours,"À propos d’Advise\r\nFondée en 2005, Advise es...","À propos d’Advise\r\nFondée en 2005, Advise es...",- Paris 2e (75),Data Engineer/ Développeur Odoo\r\nAdvise - Pa...,5c855c2b50a9f23628dc2c6e,€40%C2%A0000,Data Engineer/ Développeur Odoo,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
15,56,Airbus S.A.S.,il y a 12 jours,INGENIEUR D'ESSAIS AVIONIQUE SATELLITES - DATA...,INGENIEUR D'ESSAIS AVIONIQUE SATELLITES - DATA...,- Toulouse (31),INGENIEUR D'ESSAIS AVIONIQUE SATELLITES - DATA...,5c855c2b50a9f236dc3cdcf2,€40%C2%A0000,INGENIEUR D'ESSAIS AVIONIQUE SATELLITES - DATA...,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
16,57,BNP Paribas Personal Finance,il y a 3 jours,DATA SCIENTIST H/F (NUMÉRO DE L'EMPLOI : PF_03...,DATA SCIENTIST H/F (NUMÉRO DE L'EMPLOI : PF_03...,- Levallois-Perret (92),DATA SCIENTIST H/F\r\nBNP Paribas Personal Fin...,5c855c3350a9f23628dc2c6f,€40%C2%A0000,DATA SCIENTIST H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
17,58,EPSILON - GROUPE ALCEN,il y a 12 jours,MISSIONS :\r\nVous intégrerez une équipe de pa...,MISSIONS :\r\nVous intégrerez une équipe de pa...,- Toulouse (31),Data Scientist - Région Midi-Pyrénées (Toulous...,5c855c3350a9f236dc3cdcf3,€40%C2%A0000,Data Scientist - Région Midi-Pyrénées (Toulous...,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
18,59,Digital Source,il y a 3 jours,Souhaitez-vous débuter une nouvelle aventure e...,Souhaitez-vous débuter une nouvelle aventure e...,- Paris (75),Data Scientist\r\nDigital Source - Paris (75),5c855c3b50a9f23628dc2c70,€40%C2%A0000,Data Scientist,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
19,60,Aosis,il y a 12 jours,"Crée en 2010 par des anciens consultants SAP, ...","Crée en 2010 par des anciens consultants SAP, ...",- Toulouse (31),Data Engineer\r\nAosis - Toulouse (31)\r\nCDI,5c855c3c50a9f236dc3cdcf4,€40%C2%A0000,Data Engineer,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
20,61,Sigfox,il y a 12 jours,"Au sein du département Data Technologies, l’éq...","Au sein du département Data Technologies, l’éq...",- Toulouse (31),Data Analyst\r\nSigfox - Toulouse (31),5c855c4650a9f236dc3cdcf5,€40%C2%A0000,Data Analyst,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
21,62,MP DATA,il y a 12 jours,"MP DATA est une société de Conseil, spécialisé...","MP DATA est une société de Conseil, spécialisé...",- Toulouse (31),Data scientist - secteur aéronautique Toulouse...,5c855c4f50a9f236dc3cdcf6,€40%C2%A0000,Data scientist - secteur aéronautique Toulouse,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
22,63,TECH VALLEY,il y a 12 jours,TECH VALLEY est une société de Consulting en S...,TECH VALLEY est une société de Consulting en S...,- Toulouse (31),consultant informatique BIG DATA - Toulouse - ...,5c855c5850a9f236dc3cdcf7,€40%C2%A0000,consultant informatique BIG DATA - Toulouse - F/H,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
23,64,ASTEK,il y a 12 jours,Afin d’accompagner un de nos partenaires du se...,Afin d’accompagner un de nos partenaires du se...,- Toulouse (31),Data engineer (H/F)\r\nASTEK13 avis - Toulouse...,5c855c6050a9f236dc3cdcf8,€40%C2%A0000,Data engineer (H/F),2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
24,65,TRIMANE,il y a 12 jours,"Fondée en 2005, TRIMANE est une société de ser...","Fondée en 2005, TRIMANE est une société de ser...",- Toulouse (31),Leader BI & Big Data F/H\r\nTRIMANE - Toulouse...,5c855c6750a9f236dc3cdcf9,€40%C2%A0000,Leader BI & Big Data F/H,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
25,66,Renault,il y a 3 jours,Vous souhaitez participer à une réelle aventur...,Vous souhaitez participer à une réelle aventur...,- Boulogne-Billancourt (92),Data Scientist Senior - Marketing & Sales (H/F...,5c855c6850a9f23628dc2c71,€40%C2%A0000,Data Scientist Senior - Marketing & Sales (H/F),2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
26,67,CS Communication & Systèmes,il y a 12 jours,DESCRIPTION DE L'OFFRE\r\nLe département Systè...,DESCRIPTION DE L'OFFRE\r\nLe département Systè...,- Toulouse (31),Data Engineer H/F\r\nCS Communication & Systèm...,5c855c7850a9f236dc3cdcfa,€40%C2%A0000,Data Engineer H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
27,68,Walters People,il y a 3 jours,"Nous recherchons pour notre client, un(e) Busi...","Nous recherchons pour notre client, un(e) Busi...",- Seine-Saint-Denis,Business/Data Analyst H/F\r\nWalters People20 ...,5c855c7b50a9f23628dc2c72,€40%C2%A0000,Business/Data Analyst H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,45000.0
28,69,Thales Group,il y a 12 jours,QUI SOMMES-NOUS ?\r\nL’activité avionique rass...,QUI SOMMES-NOUS ?\r\nL’activité avionique rass...,- Toulouse (31),"Data-Scientist H/F\r\nThales Group1,117 avis -...",5c855c8350a9f236dc3cdcfb,€40%C2%A0000,Data-Scientist H/F,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
29,70,SchoolMouv,il y a 12 jours,"Hello !\r\nNous sommes Schoolmouv, une startup...","Hello !\r\nNous sommes Schoolmouv, une startup...",- Toulouse (31),Data Engineer\r\nSchoolMouv - Toulouse (31)\r\...,5c855c8d50a9f236dc3cdcfc,€40%C2%A0000,Data Engineer,2019-03-10,https://www.indeed.fr/emplois?q=title%3ADATA%2...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523,2564,ADAYA CONSULTING,il y a 30+ jours,Mission & Contexte :\r\nDans le cadre du renfo...,Mission & Contexte :\r\nDans le cadre du renfo...,- Guyancourt (78),Ingénieur BigData / Hadoop F/H\r\nADAYA CONSUL...,5c85c7d150a9f24a085c36c0,NaN,Ingénieur BigData / Hadoop F/H,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2524,2565,Cyrus Conseil,il y a 20 jours,Dans un contexte global de transformation digi...,Dans un contexte global de transformation digi...,- Paris 9e (75),Chef de projet Dynamics 365 (H/F)\r\nCyrus Con...,5c85c7d550a9f2063c84afaa,NaN,Chef de projet Dynamics 365 (H/F),2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2525,2566,HURRYMAN,il y a 30+ jours,Our Client is the World Leader in Management C...,Our Client is the World Leader in Management C...,- Paris (75),Senior Machine Learning Engineer (H/F)\r\nHURR...,5c85c7e350a9f24a085c36c1,NaN,Senior Machine Learning Engineer (H/F),2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2526,2567,UMANTIC,il y a 20 jours,Notre client est un grand équipementier téléco...,Notre client est un grand équipementier téléco...,- Nozay (91),coordinateur technique informatique de projeys...,5c85c7e950a9f2063c84afab,NaN,coordinateur technique informatique de projeys...,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,55000.0
2527,2568,Nickel,il y a 11 jours,Nous avons de grandes ambitions. Nous voulons ...,Nous avons de grandes ambitions. Nous voulons ...,- Charenton-le-Pont (94),Head of Data science\r\nNickel5 avis - Charent...,5c85c7fc50a9f24a085c36c2,NaN,Head of Data science,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2528,2569,Google,il y a 20 jours,Qualifications minimales:\r\nLicence dans un d...,Qualifications minimales:\r\nLicence dans un d...,- Paris (75),"Responsable du marketing d'entreprise, Google ...",5c85c80150a9f2063c84afac,NaN,"Responsable du marketing d'entreprise, Google ...",2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2529,2570,Greenflex,il y a 11 jours,Pour déployer ses projets d’analyse de données...,Pour déployer ses projets d’analyse de données...,- Paris 9e (75),Data Ops F/H\r\nGreenflex3 avis - Paris 9e (75...,5c85c80450a9f24a085c36c3,NaN,Data Ops F/H,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2530,2571,Thales Group,il y a 20 jours,QUI SOMMES-NOUS ?\r\nL’Activité Mondiale Systè...,QUI SOMMES-NOUS ?\r\nL’Activité Mondiale Systè...,- Vélizy-Villacoublay (78),Architecte Digital IT & Cloud H/F\r\nThales Gr...,5c85c80d50a9f2063c84afad,NaN,Architecte Digital IT & Cloud H/F,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2531,2572,NATIXIS,il y a 11 jours,"En 2018, l'Inspection Générale a décidé de s'a...","En 2018, l'Inspection Générale a décidé de s'a...",- Paris 1er (75),Data Engineer F/H\r\nNATIXIS356 avis - Paris 1...,5c85c81650a9f24a085c36c4,NaN,Data Engineer F/H,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2532,2573,HURRYMAN,il y a 16 jours,La Société :\r\nIl s'agit d'un éditeur de logi...,La Société :\r\nIl s'agit d'un éditeur de logi...,- Paris (75),SysOps junior - Azure / Office 365 (H/F)\r\nHU...,5c85c82c50a9f2063c84afae,NaN,SysOps junior - Azure / Office 365 (H/F),2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2533,2574,LEO INTERNATIONAL,il y a 16 jours,Vous interviendrez chez nos clients SAP sur de...,Vous interviendrez chez nos clients SAP sur de...,- Paris 2e (75),Consultant gouvernance de données F/H\r\nLEO I...,5c85c83650a9f2063c84afaf,NaN,Consultant gouvernance de données F/H,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,50000.0
2534,2575,BK Search,il y a 11 jours,BK Search est un cabinet de recrutement spécia...,BK Search est un cabinet de recrutement spécia...,- Paris (75),Architecte Big Data – Conseil\r\nBK Search - P...,5c85c83950a9f24a085c36c5,NaN,Architecte Big Data – Conseil,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2535,2576,Axis Alternatives,il y a 30+ jours,"Cabinet de conseil en finance depuis 2001, nou...","Cabinet de conseil en finance depuis 2001, nou...",- Paris (75),Consultant en organisation et gestion de proje...,5c85c86450a9f24a085c36c6,NaN,Consultant en organisation et gestion de projet,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2536,2577,Sanofi,il y a 30+ jours,Le contenu du poste est rédigé en anglais car ...,Le contenu du poste est rédigé en anglais car ...,- Antony (92),"ITS Cloud Solution Architect M/F\r\nSanofi3,33...",5c85c86750a9f2063c84afb0,NaN,ITS Cloud Solution Architect M/F,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2537,2578,KA Resources,il y a 30+ jours,"Je cherche pour un client final Parisien, lead...","Je cherche pour un client final Parisien, lead...",- Paris (75),Responsable Technique Adjoint MS Dynamics AX\r...,5c85c86e50a9f2063c84afb1,NaN,Responsable Technique Adjoint MS Dynamics AX,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,77500.0
2538,2579,FORUM TALENTS HANDICAP,il y a 30+ jours,Au croisement du conseil en management et du c...,Au croisement du conseil en management et du c...,- Paris,Consultant cybersécurité & confiance numérique...,5c85c87650a9f24a085c36c7,NaN,Consultant cybersécurité & confiance numérique...,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2539,2580,Oracle,il y a 30+ jours,Student / Intern - Technical Consultant Busine...,Student / Intern - Technical Consultant Busine...,- Colombes (92),Student / Intern - Technical Consultant Busine...,5c85c88050a9f24a085c36c8,NaN,Student / Intern - Technical Consultant Busine...,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2540,2581,Bio-Rad,il y a 30+ jours,Nous recherchons un(e) stagiaire pour l'exploi...,Nous recherchons un(e) stagiaire pour l'exploi...,- Marnes-la-Coquette (92),Stage en exploitation et analyse de données cl...,5c85c88650a9f2063c84afb2,NaN,Stage en exploitation et analyse de données cl...,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2541,2582,Société Générale,il y a 30+ jours,Environnement\r\nRejoignez les Infrastructures...,Environnement\r\nRejoignez les Infrastructures...,- Fontenay-sous-Bois (94),Business Service Manager Cloud (FinOps)-(H/F)\...,5c85c8a050a9f2063c84afb3,NaN,Business Service Manager Cloud (FinOps)-(H/F),2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2542,2583,Atos,il y a 30+ jours,Atos est l'un des leaders mondiaux de la trans...,Atos est l'un des leaders mondiaux de la trans...,- Bezons (95),"GOOGLE CLOUD SOLUTION ARCHITECT H/F\r\nAtos1,9...",5c85c8b250a9f2063c84afb4,NaN,GOOGLE CLOUD SOLUTION ARCHITECT H/F,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2543,2584,Fujitsu,il y a 30+ jours,"Senior Cloud Architect\r\nAsnieres-sur-Seine, ...","Senior Cloud Architect\r\nAsnieres-sur-Seine, ...",- Asnières-sur-Seine (92),"Senior Cloud Architect\r\nFujitsu1,404 avis - ...",5c85c8b950a9f2063c84afb5,NaN,Senior Cloud Architect,2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,NaN
2544,2585,Kapten (ex-Chauffeur Privé),il y a 30+ jours,La Team Data recrute un(e) stagiaire Data Engi...,La Team Data recrute un(e) stagiaire Data Engi...,- Paris (75),Data Engineer Junior (H/F) - Stage Paris\r\nKa...,5c85c8d050a9f24a085c36c9,NaN,Data Engineer Junior (H/F) - Stage Paris,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2545,2586,Metanext,il y a 4 mois,VENEZ RELEVER DES DEFIS SUR DES PROJETS CLOUD ...,VENEZ RELEVER DES DEFIS SUR DES PROJETS CLOUD ...,- Boulogne-Billancourt (92),Technical Leader Cloud VMware (H/F)\r\nMetanex...,5c85c8d550a9f2063c84afb6,NaN,Technical Leader Cloud VMware (H/F),2019-03-11,https://www.indeed.fr/emplois?q=title%3A(donn%...,67500.0
2546,2587,FIRCOSOFT SAS,il y a 30+ jours,Vous recherchez un nouveau défi en développeme...,Vous recherchez un nouveau défi en développeme...,- Paris (75),Ingénieur(e) Développement Innovation (H/F).\r...,5c85c8ea50a9f24a085c36ca,NaN,Ingénieur(e) Développement Innovation (H/F).,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2547,2588,Bouygues Telecom,il y a 30+ jours,Au sein de l'équipe Big Data Lab de la Directi...,Au sein de l'équipe Big Data Lab de la Directi...,- Meudon (92),Data ingénieur (H/F)\r\nBouygues Telecom522 av...,5c85c8fc50a9f24a085c36cb,NaN,Data ingénieur (H/F),2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2548,2589,EDF,il y a 30+ jours,Actuellement en dernière année d'Ecole d'ingén...,Actuellement en dernière année d'Ecole d'ingén...,- Nanterre (92),Stage - Concepteur Développeur Big Data / BI -...,5c85c91750a9f24a085c36cc,NaN,Stage - Concepteur Développeur Big Data / BI -...,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2549,2590,Accenture,il y a 30+ jours,Accenture Consulting est une des 5 entités d’A...,Accenture Consulting est une des 5 entités d’A...,- Paris (75),Consultants en Gestion des Données (Data/Analy...,5c85c92150a9f24a085c36cd,NaN,Consultants en Gestion des Données (Data/Analy...,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN
2550,2591,Shift Technology,il y a 30+ jours,Are you a graduate with a passion for programm...,Are you a graduate with a passion for programm...,- Paris (75),Data Scientist (Portuguese speaking) M/F\r\nSh...,5c85c92a50a9f24a085c36ce,NaN,Data Scientist (Portuguese speaking) M/F,2019-03-11,https://www.indeed.fr/emplois?q=scala%20OR%20%...,NaN

In [32]:
def cleansal(lis):
    """cleans list of dirty salaries
    replace empty list with nan and  extracts salary
    IS USED IN FIND_SALARIES"""
    for i in range(len(lis)):
        if len(lis[i])==0:
            lis[i] = np.nan
        else:
            lis[i] = lis[i][0]
    return lis


def find_salaries(df, column):
    """trouve des salaires dans la colonne et dataframe entrees en parametres
    column doit etre un string
    renvoies une liste"""
    salaries = []
    regex = r'((?:Rémunération|Gratification|Salaire|Salary)?\s?:?\s?[0-9]*(?:.|,)[0-9]*(?:.|,)[0-9]*€?\s(?:(?:to|-|à)?\s?[0-9]*(?:.|,)[0-9]*(?:.|,)[0-9]*€?\s)?\s?(?:\/|par|per)\s?(?:mois|an|year|month))'
    for i in range(len(df)):
        l = re.findall(regex,df[column][i])
        salaries.append(l)
    salaries = cleansal(salaries) #on nettoie avec la fonction cleansal 
    return(salaries)

In [33]:
#On creeee une liste avec les salaires en string + nans quand il y en a pas (pour le colonne title seulement)
sals = find_salaries(df,'Title')

In [34]:
def intify_etc(sals):
    """paramètres : liste de salaires en forme de string
    cette fonction convertie toutes les phrases en ints: 
    remplace les salaires avec une moyenne si c'est une fourchette
    et avec une moyenne transformé en annuel s'il sagit d'une salaire par mois
    retourne une liste netoyée, prête à étre ajouté au dataframe :)) 
    """
    regex = '[0-9]*? ?[0-9]{3}'
    #for each line
    for i in range(len(sals)):
        #if it's not a nan
        if type(sals[i]) != float:
            #now we must separate per months from per year 
            #and fourchettes from non fourchettes
            if 'par an' in sals[i]:
                #print('par an')
                if '-' in sals[i]:
                    #print('fourchette')
                    frm = re.findall(regex,sals[i])[0]
                    to = re.findall(regex,sals[i])[1]
                    frm, to = frm.replace(' ',''), to.replace(' ','')#getting rid of space
                    frm, to = int(frm), int(to)#convert to int 
                    avg = (frm+to)/2 #calculate average
                    sals[i] = avg
                else:
                    #print('not fourchette')
                    sal = re.findall(regex,sals[i])[0]
                    sal=sal.replace(' ','')#get rid of space
                    sals[i] = int(sal)#convert to int
            elif 'par mois' in sals[i]:
                #print('par mois')
                if '-' in sals[i]:
                    #print('fourchette')
                    frm = re.findall(regex,sals[i])[0]
                    to = re.findall(regex,sals[i])[1]
                    frm, to = frm.replace(' ',''), to.replace(' ','')#get rid of the space
                    frm, to = int(frm), int(to)#converting to int
                    avg = (frm+to)/2#calculate average
                    par_an = avg*12#convert to yearly salary
                    sals[i] = par_an
                else:
                    #print('not fourchette')
                    sal = re.findall(regex,sals[i])[0]
                    sal = sal.replace(' ','')#get rid of space
                    sals[i] = int(sal)*12#convert to yearly salary
    return sals

sals = intify_etc(sals)

In [47]:
len(df) - df['Salary'].isna().sum()

401

In [48]:
401/2553 *100

15.707011359185271